.feynman__link {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 50%;
  right: 48px;
  font-weight: normal;
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .3s linear;
}

.feynman__link:hover {
  opacity: 0.6;
}
